#main-doc {
  position: absolute;
  left: 31%;
  padding: 2rem;
  margin-bottom: 11rem;
}

section li {
  margin: 1.5rem 0 0 2rem;
}

.main-section .description {
  margin: 1.5rem;
}

.description p, .description ul {
  font-size: 1.5rem;
  margin: 1.5rem;
}

.description ul {
  padding-left: 4rem;
}

.description code {
  padding: 1.5rem;
  margin: 2rem;
  font-size: 1.2rem;
  background-color: #f7f7f7;
  text-align: left;
  border-radius: 5px;
  font-family: monospace;
  word-break: normal;
  position: relative;
  word-wrap: normal;
  display: block;
  line-height: 2;
}

#Variables .description {
  margin: 0;
}
#Variables .description p {
  margin: 1.6rem 0;
}